custom/.env.bak
custom/.env
custom/*pycache*
*.pyc
env
credentials.json
wml_credentials.json
run.log
srom*
scripts/notes.py
scripts/register_model_wml.py
scripts
local_test_of_function.py
server.py
credentials/*json
